{% extends 'app_wallet/header.html' %}


{% block content %}
<title>Edit page</title>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h2> {{ request.user.username}}, for edit payment fill the forms:</h2>
        <dl>
            <dt>Payment ID:</dt>
            <dd><input type="text" size="50" name="id" required value="" placeholder="Payment ID in numbers"></dd>
            <h1></h1>
            <p style="font-size:12px">How you can find "Payment ID":</p>
                <ol>
                    <li style="font-size:12px">Back to Homepage;</li>
                    <li style="font-size:12px">Choose "Show payments by period" or "Show all payments"
                        (<i>Recommended "Show payments by period");</i></li>
                    <li style="font-size:12px">On opened pages you'll see the table. The left column shows "Payment ID"
                        (<i>If you chose "Show payments by period", you'll need to enter dates first).</i></li>
                </ol>
            <dt>Data:</dt>
            <select name="data" style="width:300px">
                <option name="admission" value="admission">Admission</option>
                <option name="consumption" value="consumption">Consumption</option>
                <option name="description" value="description">Description</option>
                <option name="date" value="date">Date</option>
            </select>
            <h1></h1>
            <dd><input type="text" name="new_data" size="50" placeholder="new info"></dd>
            <dd><input type="date" name="users_date"></dd>
            <p style="font-size:12px">Data:</p>
                <ol>
                    <li style="font-size:12px">
                        Data it's table column name on "Show all payments" or "Show payments by period" pages.
                    <i style="color:peru">(Warning! "Inserted date" it's system date and not editable).</i></li>
                    <li style="font-size:12px">
                        After selecting the data, enter new info in the field below.
                    <i style="color:peru">("Admission" and "Consumption" allowed only numbers).</i></li>
                    <li style="font-size:12px">If you selected data "Date", choose new date in calendar below.</li>
                </ol>
        </dl>
        <h1></h1>
        <input type="submit" value="Save">
        <h1></h1>
        <input type="button" onclick="location.href='/home'" value="Back to Homepage">
    </form>
</div>
{% endblock %}
