<!DOCTYPE html>
<html lang="en">
<body style="background-color:OrangeRed;">
</body>
<head>
    <meta charset="UTF-8">
    <title>Delete contact</title>
</head>
<body>
<h2>"Address Book"</h2>
<h3>Delete contact</h3>
<form method='POST'>
    <dl>
        <dt>Name:
        <dd><input type="text" name="deleted_name" size="50">
        <h1></h1>
        <h1></h1>
        <dd><input type="submit" value="Confirm">
    </dl>
    <dl>
        <h1></h1>
        <h1></h1>
        <input type="button" onclick="location.href='/';" value="Back to main"/>
    </dl>
</form>
</body>
</html>