<!DOCTYPE html>
<html lang="en">
<body style="background-color:PaleGoldenRod;">
</body>
<head>
    <meta charset="UTF-8">
    <title>Edit contact</title>
</head>
<body>
<h2>"Address Book"</h2>
<h3>Edit contact</h3>
<h3>Fill the forms, please</h3>
<form method='POST'>
    <dl>
        <dt>Name:
        <dd><input type="text" name="edited_name" size="50">
        <h1></h1>
        <dt>Edited data:
        <dd><input type="text" name="edited_data" size="50">
        <h1></h1>
        <dt>New data:
        <dd><input type="text" name="new_data" size="50">
        <h1></h1>
        <h1></h1>
        <input type="submit" value="Save">
    </dl>
    <dl>
        <h1></h1>
        <h1></h1>
        <input type="button" onclick="location.href='/'" value="Back to main"/>
    </dl>
</form>
</body>
</html>