<!DOCTYPE html>
<html lang="en">
<body style='background-color:Aquamarine'>
</body>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Personal Assistant (CLI)</h1>
<h2>"Address Book"</h2>
<h3>Personal Assistant works with address book and has next commands:</h3>
    <li><a href="/add">Add contact</a>
    <h3></h3>
    <li><a href="/find">Show contact</a>
    <h3></h3>
    <li><a href="/show">Show all</a>
    <h3></h3>
    <li><a href="/edit">Edit contact</a>
    <h3></h3>
    <li><a href="/delete">Delete contact</a>
    <h3></h3>
    <li><a href="/reference">Help, reference</a>
    <h3></h3>
    <li><a href="/exit">Exit</a>
</body>
</html>
