<!DOCTYPE html>
<html lang="en">
<body style="background-color:LightGreen;">
</body>
<head>
    <meta charset="UTF-8">
    <title>Help, reference</title>
</head>
<body>
<h2>"Address Book"</h2>
<h3>Personal Assistant (Command Line Interface)</h3>
<p>Personal Assistant works with Address book. Personal Assistant has a functions:<br/>
    1. "Add contact" - for add name, contact information (phone, e-mail) and address to Address book click
    "Add contact" on main page and on next page fill all forms;<br/>
    2. "Show contact" - for get all contact information click "Show contact" on main page and then on next
    page fill the form;<br/>
    3. "Show all" - for show all contacts in Address book on main page click "Show all";<br/>
    4. "Edit contact" - for edit contact information click "Edit contact" on main page and then on next page fill
    the forms for edit;<br/>
    5. "Delete contact" - for delete name and contact information click "Delete contact" on main page and
    then on next page fill the form;<br/>
    6. "Help, reference" - for ask reference how to use Personal Assistant click "Help, reference";<br/>
    7. "Exit" - for finish work with Personal Assistant on main page click "Exit" and then you will exit from
    Command Line Interface.<br/>
    <h3></h3>
Pleasant use!
</body>
</html>
